html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Merriweather', serif;
  font-family: 'Raleway', sans-serif;}
h1 {
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
  "s s m m m m";
  margin-top: 75px;
  }
.sidebar {
  position: relative;
  grid-area: s;
  align-items: center;
  height: 100%;
  width: calc(100% / 4);
}
.navigation {
  padding-left:2em;
}
.articles {
grid-area: m;
justify-self: end;
width: calc(250% / 3);
}
.main-doc {
}
.main-section {
  margin: 2em;
}
.footer {
  grid-area: f;
}
@media screen and (max-width: 960px) {
 /* .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(1fr, auto));
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "s s s s s s s s s s s s"
    "s s s s s s s s s s s s"
    "e e e e e e e e e e e e"
    "o o o o o o o o o o o o"
    "p p p p p p p p p p p p"
    "f f f f f f f f f f f f";
    margin-top: 75px;
    }*/

    .sidebar {
      width: calc(100% / 3);
    }
    .main-section {
      width: calc(250% / 4);
    }     
}

/*@media screen and (max-width: 680px) {

  .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "s"
  "m";
  }
  .sidebar {
    position: unset;
    top: 0;
    grid-area: s;
    align-items: center;
    justify-self: center;
    height: 100%;
    width: 50%;
    margin-bottom: 2em;;
  }
  
}
*/
